@*分页部分页*@
<div class="modal-footer no-margin-top">
    <p class="pull-left">
        @{int CurrentPageStartIndex = Model.IsFirstPage ? Model.PageNumber : ((Model.PageNumber - 1) * Model.PageSize + 1);}
        Showing @CurrentPageStartIndex
        to @(CurrentPageStartIndex + Model.PageSize - 1)
        of @Model.TotalItemCount Entries
    </p>
    <ul class="pagination pull-right no-margin">
        <li class="prev disabled">
            <a>
                <i class="ace-icon fa fa-angle-double-left"></i>
            </a>
        </li>
        @if (Model.HasPreviousPage)
        {
            <li class="prev">
                <a asp-action="AdminIndex" asp-route-page="1">First</a>
                <a asp-action="AdminIndex" asp-route-page="@(Model.PageNumber - 1)">Prev</a>
            </li>
        }
        else
        {
            <li class="prev disabled">
                <a>First</a>
                <a>Prev</a>
            </li>
        }

        @{ string CurrentPage = string.Format("{0}", Model.PageNumber);}
        <li class="active">
            <a asp-action="AdminIndex" asp-route-page="@Model.PageNumber">@CurrentPage</a>
        </li>

        @if (Model.HasNextPage)
        {
            <li class="next">
                <a asp-action="AdminIndex" asp-route-page="@(Model.PageNumber + 1)">Next</a>
                <a asp-action="AdminIndex" asp-route-page="@Model.PageCount">Last</a>
            </li>
        }
        else
        {
            <li class="next disabled">
                <a>Next</a>
                <a>Last</a>
            </li>
        }
        <li class="next disabled">
            <a>
                <i class="ace-icon fa fa-angle-double-right"></i>
            </a>
        </li>
    </ul>
</div>